* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  padding: 50px;
}

#day {
  width: 80%;
  margin: auto;
}

#table_title {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  padding: 20px;
  /* width: 11.42%; */
  height: 30px;
  color: white;
  text-align: center;
  background-color: black;
}

td {
  /* border-left: 1px black solid; */
  border-bottom: 1px black solid;
  font-weight: bold;
  /* width: 11.42%; */
  height: 30px;
  font-size: 14px;
  color: black;
  vertical-align: top;
  padding: 10px 0 0 10px;
  text-align: center;
}

td:nth-of-type(1) {
  border-left: 1px black solid;
}

td:nth-of-type(6) {
  border-right: 1px black solid;
}

#buttons {
  padding-top: 30px;
  width: 80%;
  margin: auto;
}

#left {
  float: left;
}

#right {
  float: right;
}

#back,#add, #delete {
  margin-left: 20px;
  width: 80px;
  height: 30px;
  border: 1px solid black;
}

#back {
 
  background-color: rgb(171, 214, 231);
}

#add {
  /* width: 100px;
  height: 50px;
  padding:5px 23px 5px 23px;
  border: 1px solid black;
  margin-top: 30px; */
  background-color: rgb(185, 240, 185);
}

#delete {
  background-color: peachpuff;
}